{% extends 'base.html' %}
{% load staticfiles %}

{% block style_base %}
  <!-- Custom CSS -->
  <link href="{% static "guest/agency.css" %}" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="{% static "guest/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
  {% block extra_style %}{% endblock %} 
{% endblock %}

{% block navbar %} 
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="{% url 'home' %}">Parking</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'findparking' %}"><i class="fa fa-search"></i> Find</a></li>
          <li><a href="{% url 'shareparking' %}"><i class="fa fa-share"></i> Share</a></li>
          <li>
            <a href="#modal-signin" data-toggle="modal">
              <i class="fa fa-sign-in"></i> login
            </a>
          </li>
          <li>
            <a href="{% url "account_signup" %}" data-toggle="modal"><i class="fa fa-arrow-up"></i> Signup</a>
          </li>          
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
{% endblock %} 

{% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; flexspot.co</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="#">Privacy Policy</a>
            </li>
            <li><a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- signin modal -->
  <div id="modal-signin" class="modal fade" data-focus-on="input:first" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Login</h4>

        </div>
        <div class="modal-body" id="loading_signin" style="width: 100%;height: 100%;">
          <div class="errormsg"></div>
          <form class="form-horizontal" role="form" id="frmsignin">{% csrf_token %}
            <div class="form-group">
              <label class="col-sm-2 control-label">Username:</label>
              <div class="col-sm-10">
                <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Password:</label>
              <div class="col-sm-10">
                <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
              </div>
            </div>
            <a href="{% url "account_password_reset" %}">Forgot your password?</a>

            <input type='button' class="btn btn-lg btn-primary btn-block btnsignin" data-formtype='frmsignin' data-next="{% if request.path == '/accounts/logout/' %}/{%else%}{{request.path}}{% endif %}" value="Sign in" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %} 
  <script src="{% static "spin.min.js" %}"></script>

  <!-- used for login -->
  <script type="text/javascript">
    $(document).ready(function() {
      var spinner = new Spinner({
        lines: 10,
        length: 25,
        width: 20,
        radius: 40
      });
      $('.modal').on('hidden.bs.modal', function() {
        //some modals does not have form tag
        $(this).find(".errormsg").empty();
        $(this).find('form')[0].reset();
        //alert('close btn click');         
      });

      $('input.btnsignin').click(function(e) {
        var target = document.getElementById('loading_signin');
        spinner.spin(target);
        e.preventDefault();
        var frmname = $(this).data('formtype');
        var nextpage = $(this).data('next');
        var datas = $('#' + frmname).serialize();
        $('#loading_signin :input').attr('disabled', true);
        $.ajax({
          type: "POST",
          url: "{% url 'ajax_login' %}",
          data: datas
        }).done(function(msg) {
          //alert(msg);
          if (msg == '1') {
            document.location.assign(nextpage);
          } else {
            $('#loading_signin :input').each(function() {
              this.disabled = false;
            });
            spinner.stop();
            $('#modal-signin').find('.errormsg')
              .html('<div class="alert alert-warning fade in">' +
                msg + '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                '</div>');
          }
        });
      });
    });
  </script> 
  {% block extra_script %}{% endblock %} 
  {% endblock %}