{% extends 'base.html' %}
{% block body %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<div class="well">
	  	<p class="lead">{{park_details.streetaddress}}</p>
	  	location:Latitude-> <span class="label label-warning">{{park_details.lat}}</span>,
	  	Longitude -> <span class="label label-warning">{{park_details.lng}}</span>	  	
	  	
	</div><!--/well-->  
	<button type="button" class="btn btn-primary btn-lg btn-block">Book the Parking space Now</button>
  </div> 
</div>	
{% endblock %}  