<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="viewparkingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body" id="parkingContent"> </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-5">
              <div class="input-group">
                <span class="input-group-addon">Park start Time:</span>
                <input type="number" class="form-control" id='pfromtime' name="fromtime">
                <span class="input-group-addon">Hour :00 Mins</span>
              </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-md-5">
              <div class="input-group">
                <span class="input-group-addon">Duration:</span>
                <input type="number" class="form-control" id='pduration' name="duration">
                <span class="input-group-addon">Hours</span>
              </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-md-2">
              <button type="button" id="btnBookParking" data-park="" class="btn btn-primary btn-lg"><i class="fa fa-cart"></i> Book Now</button>
            </div>
          </div><!-- /.row -->
            <hr>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).on('click','.parkdetails',function(){
    $('#btnBookParking').data('park',$(this).data('pk'));
    $.get("{% url 'parkingdetails' %}",{pk: $(this).data('pk') })
    .done(function(datas) {     
        if (datas.avail){
            var avail_txt ='<h3><small>Total Parking Spaces Vacant:</small> <span class="label label-primary">' +
            datas.spaces +'</span></h3><hr><p class="lead"> Time Available<br><kbd>' + datas.ftime +
            '</kbd> - <kbd>' + datas.totime + '</kbd>'+datas.avail+'</p>';
            $('#btnBookParking').removeClass('disabled');
        }else{
            var avail_txt ='<h3> <span class="label label-danger">Sorry There is no parking space is available on today</span></h3>';
            $('#btnBookParking').addClass('disabled');
        }

        var str_html='<h2>Parking Details</h2><p class="item-intro text-muted">'+
        datas.address+'</p>'+avail_txt;

        if (datas.pic){
            str_html+='<hr><p class="lead">Parking Photos:</p><img class="img-responsive img-centered" src="'+datas.pic+'_crop.jpg" alt="">';
        }

        $('#parkingContent').html(str_html);
    });
});
$(document).on('click','#btnBookParking',function(){
  var datas={'park':$(this).data('park'),'time':$('#pfromtime').val(),
            'duration':$('#pduration').val()};
  $.get("{% url 'savebooking' %}",datas).done(function(result){
      alert(result);
  });
});
</script>