{% extends 'account/base_g.html' %}
{% block content %}
<div id="googleMap" style="height:540px;"></div>
{% endblock %}  

{% block extra_script %}     
{% if results %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script> 
  var map;
  var datas=[];
  function initialize() {
    var mapOptions = { center:new google.maps.LatLng({{results.0.lat}},{{results.0.lng}}),  
                       zoom: 6,
                       mapTypeId: google.maps.MapTypeId.ROADMAP };  
    map=new google.maps.Map(document.getElementById("googleMap"), mapOptions);

    {% for property in results %}    
    var data = {'lat':    {{property.lat}},
                'long':   {{property.lng}},
                'address':"{{property.streetaddress}}",
                'country':   "{{ property.country }}",
                'state':  "{{ property.state }}"
                };
    datas.push(data);
    {% endfor %} 

    var markers = [];
    var infowindow = new google.maps.InfoWindow();
    for (var i = 0; i < datas.length; i++) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(datas[i]['lat'], datas[i]['long']),
        map: map
      });
      makeInfoWindowEvent(map, infowindow, "<p style='color:#000'><strong>"+datas[i]['address']+"</strong><br> Country:"+
        datas[i]['country']+'- State:'+datas[i]['state']+'</p>', marker);
      markers.push(marker);
    }
  }

  function makeInfoWindowEvent(map, infowindow, contentString, marker) {
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(contentString);
      infowindow.open(map, marker);
    });
    /*
    google.maps.event.addListener(marker, 'mouseover', function() {
      infowindow.setContent(contentString);
      infowindow.open(map, marker);
    });
    google.maps.event.addListener(marker, 'mouseout', function() {
      infowindow.close(map, this);
    });
    */
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endif %}
{% endblock %} 