{% extends 'account/base_g.html' %}
{% block body %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<div class="well">
	{% if parkings %}
	<ol>{% for parking in parkings %}<li><a data-pk="{{parking.pk}}" class="parkdetails" href='#viewparkingModal' data-toggle='modal' >{{parking.streetaddress}}</a></li>{% endfor %}</ol>	
	{% else %}
	<p> No parkings listed! please list parkings</p>
	{% endif %}
	</div><!--/well-->  
  </div> 
</div>	
{% endblock %}  
{% block extra_script %}
{% if parkings %}{% include "guest/modal.html" %}{% endif %}
{% endblock %}