{% extends 'account/base_g.html' %}
{% load extra_tags %}
{% block body %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<div class="well">
	{% if parkings %}
	<h3> Parkings</h3>
	<ol>{% for parking in parkings %}
		<li>Show:{{parking.status}}(<a href="#" data-pk="{{parking.pk}}">edit</span>),
			<strong>{{parking.streetaddress}}</strong></li>
	{% endfor %}</ol>	
	{% else %}
	<p> No parkings listed! please list parkings</p>
	{% endif %}
	</div><!--/well-->  
	{% if request.user.is_active %}
		{% get_my_orders request.user.pk %}	
	{% endif %}
  </div> 
</div>	
{% endblock %}  
{% block extra_script %}
{% if parkings %}{% include "guest/modal.html" %}{% endif %}
{% endblock %}