{% extends "base.html" %}

{% block body %}
<div class="container">
<!--<div class="row">
  <div class="col-md-8 col-md-offset-2">-->
    <div class="panel panel-default">
      <div class="panel-heading">
          <strong><span class="glyphicon glyphicon-th-large"></span> Book a Parking Space</strong>
      </div><!-- /.panel-heading -->
      <div class="panel-body">
	      <div class="well">
	      	<h2>Pay for Parking Space:</h2>  <p class="lead"> <strong>On: </strong>{{order.park_date}} for {{order.duration}}hour</p>
	      	<p><strong>Address:</strong>{{order.parking.streetaddress}}</p>
	      	<p><strong>Description:</strong>{{order.parking.description}}</p>
	     </div>
      {{ form.render }}
      </div>
   </div>
</div>
{% endblock %}