{% extends 'account/base_g.html' %}
{% block head_title %}Sign up{% endblock %}
{% block content %}  
<div class="panel-heading"><h1>Sign Up</h1></div>
  <div class="panel-body" style="padding:20px">
   	<h1>This site is in private beta</h1>
    <p>If you have signup code you can enter it below.</p>
    <form method="get" action="">
        <div><input type="text" name="code" class="form-control" placeholder="Your signup code..." /></div>
        <div><input type="submit" class="btn btn-primary"></div>
    </form>
  </div>    
</div>    
{% endblock %}  