{% extends 'account/base_g.html' %}
{% load bootstrap %}
{% block head_title %}Sign up{% endblock %}

{% block content %} 
<form class="form-horizontal" method="post" action="{% url "account_signup" %}">{% csrf_token %}    
  {{ form|bootstrap }}    
  {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}<br>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
</form>  
{% endblock %}  

{% block extra_script %}
<script type="text/javascript">
$(document).ready(function() {
	if ($("input[name='is_owner']:checked").val()=='1') {
    $("#id_licenseplate").parents('.form-group').hide();
    $("#id_state").parents('.form-group').hide();
  }
	
	$('input[type=radio][name=is_owner]').change(function() {
		if (this.value == '1') {
      $("#id_licenseplate").parents('.form-group').hide();
      $("#id_state").parents('.form-group').hide();
    }else {
      $("#id_licenseplate").parents('.form-group').show();		
      $("#id_state").parents('.form-group').show();
    }
	});
});
</script>
{% endblock %}  