<span style="color: red"><strong>CONFIRMATION - PARKING SESSION WILL BE DEACTIVATED IN 15 MINUTES</strong></span>

<p>This confirmation indicates that your session will be deactivated in 15 minutes.</p>
<hr>

<table>
  <tr>
    <td><strong>Will Activated:</strong></td>
    <td>{{order.park_date}}</td>    
  </tr>
  <tr>
    <td><strong>Will Deactivated:</strong></td>
    <td>{{deact}}</td>
  </tr>
  <tr>
    <td><strong>Location:</strong></td>
    <td>{{order.parking.streetaddress}}</td>    
  </tr>
  <tr>
    <td colspan="2"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{order.parking.lat}},{{order.parking.lng}}&zoom=15&size=640x200&markers=color:blue%7Clabel:P%7C{{order.parking.lat}},{{order.parking.lng}}"></td>    
  </tr>
  <tr>
    <td><strong>Description:</strong></td>
    <td>{{order.parking.description}}</td>    
  </tr>  
</table>
