{% extends 'account/base_u.html' %}
{% load bootstrap %}
{% block head_title %}Change password{% endblock %}

{% block content %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Change password</div>
  <div class="panel-body">    
	<form method="POST" action="">	    
	    <fieldset>
	        {% csrf_token %}
	        {{ form|bootstrap }}
	        <button type="submit" class="btn btn-success">Save</button>
	        <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
	    </fieldset>
	</form>
  </div>  
</div>
{% endblock %}