{% extends 'account/base_g.html' %}
{% load bootstrap %}
{% block head_title %}Sign up{% endblock %}
{% block content %}  
<div class="panel-heading"><h1>Sign Up</h1></div>
  <div class="panel-body" style="padding:20px">
    <form class="form-horizontal" method="post" action="{% url "account_signup" %}">{% csrf_token %}    
        {{ form|bootstrap }}    
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}<br>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
      </form>
  </div>    
</div>    
{% endblock %}  