{% extends "userprofile/ajax/ajax_base.html" %}
{% block title %}Order History{% endblock %}
{% block content %}
<table class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>			
			<th>OrderID</th>
			<th>Date</th>
			<th>Parking Address</th>
			<th>Park Date</th>
			<th>Duration</th>
			<th>Paid</th>
		</tr>
	</thead>
	<!--<tfoot><tr><th>Name</th><th>Position</th></tr></tfoot>-->
	<tbody>
	{% for order in orders %}
		<tr>
			<td><strong>[#{{order.id}}]</strong></td>
			<td>{{order.order_date}}</td>
			<td>{{order.parking.streetaddress}}</td>
			<td>{{order.park_date}}</td>
			<td>{{order.duration}}</td>
			<td>
				{% if order.paid == 0 %}
				<span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> Failed</span>
				<!--<a href="#" class="btn btn-warning btn-xs">delete</a>-->
				{% else %}
				<span class="label label-success"><span class="glyphicon glyphicon-ok"></span> Success</span>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>	
{% endblock %}