<!DOCTYPE html>
{% load staticfiles %}
{% url 'home' as home %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        <title>Parking{% block head_title %}{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
	    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">    

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
        
        {% if request.user.is_active %}<style>body{padding-top: 60px}</style>{% endif %}
        {% block style_base %}            
            {% block extra_style %}{% endblock %}            
        {% endblock %}
    </head>
    <body>
        {% block navbar %}          
	        {% if request.user.is_active %}  
	        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">	          
	          <div class="container-fluid">
	            <div class="navbar-header">
	              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	              </button>
	              <a class="navbar-brand" href="{{home}}">Parking</a>
	            </div>
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                     
	              <ul class="nav navbar-nav">
	              	<li><a href="{% url 'parkings' 'my' %}">Home({{request.user.username}})</a></li>
	                <li{% if request.path == home %} class="active"{% endif %}><a href="{% url 'parkings' 'all' %}"> All Parkings</a></li>
	              </ul>
	              <a href="{% url 'list_parking' %}" class="btn btn-default navbar-btn" style="margin-left:40px">List Parking space</a>
	              <ul class="nav navbar-nav navbar-right">
	                <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	              </ul>
	            </div><!-- /.navbar-collapse -->
	          </div>
	         </nav> 
	        {% else %}
	        <div class="container" style="padding:20px 60px;">
	        	<div class="pull-right btn-group btn-group-lg">
				  <a class="btn btn-default" href="{{ home }}">Home</a>
				  <a class="btn btn-default">Login</a>
				  <a class="btn btn-default">Create Account</a>
				</div>
			</div><hr>
	        {% endif %}	     
        {% endblock %}


        {% if messages %}
          {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}

        <div class="container" style="min-height:500px">
            {% block body %}
                {% block content %}
                {% endblock %}
            {% endblock %}            
        </div>

        <div class="footer">
          <p class="lead text-primary text-center">&copy; parking</p>
        </div>

        <!-- jQuery Version 1.11.0 -->
	    <script src="{% static "jquery.min.js" %}"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        {% block javascript %}
          {% block extra_script %}{% endblock %}   
        {% endblock %}       
    </body>
</html>
