{% extends "userprofile/find_base.html" %}
{% block extra_head %}
<style type="text/css">
  #resultSide{
    height: 300px;
    overflow-y:auto
  }
  #resultSide > .row {
    padding-top: 10px
  }
  .redcolor{background-color: #ccc;border:1px solid #fcfcfc;}
  #googleMap{
    height:300px;
  }

  .map-marker-label{
    position: absolute;
    color: #fff;
    font-weight: bold;
    padding:2px;
    background-color:#d9534f;
    border-radius: .25em;
  }
</style>
{% endblock %}

{% block content %}
  <div class="wizard">
    <a class="current"><span class="badge badge-inverse">1</span> Location</a>
    <a><span class="badge">2</span> Date &amp; Time</a>
    <a><span class="badge">3</span> Payment</a>
  </div>
  
  {% if parkings %}  
  <h3>Step 1: <small>Choose your location</small></h3>
  <div class="row" style="border:1px solid #ccc">
    <div class="col-md-4" id="resultSide">
      <!-- using rows -->
      {% for parking in parkings %} 
      <div class="row box{{parking.pk}}">
        <div class="col-md-1">
          <input data-pk="{{parking.pk}}" type="radio" name="optparking" value="{{parking.pk}}">
          <span class="label label-danger">{{parking.pk}}</span>
        </div>
        <div class="col-md-11">
          <strong>{{parking.streetaddress|truncatechars:50}}</strong><br>{{parking.fromtime}}:00-{{parking.totime}}:00, <small>${{parking.fee}}:00/hour</small>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-8">        
      <div id="googleMap"></div>
    </div>
  </div>
  <hr>
  
<div id="parking_thumbnail"></div>

<div id="modal-moreinfo" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">MoreInfo</h4>
        </div>
        <div class="modal-body" id="loading_moreinfo" style="width: 100%;height: 100%;">
          <div class="errormsg"></div>          
        </div>
      </div>
    </div>
  </div>
  
  <form action="." method="post" class="pull-right">{% csrf_token %} 
    <input type="hidden" name="park_pk" />
    <a class='btn btn-primary btn-moreinfo' href='#box_moreinfo'>Show Picture</a>
    <button type="submit" class="btn btn-primary" disabled="disabled">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
  </form>  
  {% else %}
  <p class="lead"> No parkings listed! please list parkings</p>
  {% endif %}
{% endblock %}  

{% block javascript %}<!-- might need to login from here -->     
{% if parkings %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
//see -->http://stackoverflow.com/questions/11096094/
var markerSize = { x: 22, y: 40 };
google.maps.Marker.prototype.setLabel = function(label){
    this.label = new MarkerLabel({
      map: this.map,
      marker: this,
      text: label
    });
    this.label.bindTo('position', this, 'position');
};

var MarkerLabel = function(options) {
    this.setValues(options);
    this.span = document.createElement('span');
    this.span.className = 'map-marker-label';
};

MarkerLabel.prototype = $.extend(new google.maps.OverlayView(), {
    onAdd: function() {
        this.getPanes().overlayImage.appendChild(this.span);
        var self = this;
        this.listeners = [
        google.maps.event.addListener(this, 'position_changed', function() { self.draw();    })];
    },
    draw: function() {
        var text = String(this.get('text'));
        var position = this.getProjection().fromLatLngToDivPixel(this.get('position'));
        this.span.innerHTML = text;
        this.span.style.left = (position.x - (markerSize.x / 2)) - (text.length * 3) + 10 + 'px';
        this.span.style.top = (position.y - markerSize.y) + 'px'; //(position.y - markerSize.y +40) + 'px';
    }
});

//-----------------------------------------------------

  // show the view moreinfo and next buttons
  function getAvailability(park_pk){    
    $("#parking_thumbnail").empty();
    if (park_pk){
      $("form > button").prop("disabled", false);  
      $("input[name=park_pk]").val(park_pk);
      
      //$(".btn-moreinfo").removeClass("disabled"); 
     // $("#box_moreinfo").empty(); 

      $.get("{% url 'parkingdetails' %}",{pk: park_pk}).done(function(datas) {     
        var str_html='<strong> '+datas.address+'</strong><br>'+
        '<small>'+datas.desc+'</small>'+
        '<p>Available on: <span class="label label-default">'+datas.avail+'</span></p>';
        if (datas.pic){
          str_html+='<img class="img-responsive img-centered" src="'+datas.pic+'_160.jpg" alt="">';
          $(".btn-moreinfo").data('imgurl',datas.pic);
        }       
        $("#parking_thumbnail").html(str_html);
      });     
    }
  }

  var map;
  var datas=[];
  function initialize() {
    var mapOptions = { center:new google.maps.LatLng('38.906', '-77.047'),  
                       zoom: 12,minZoom:11, mapTypeId: google.maps.MapTypeId.ROADMAP };  
    map=new google.maps.Map(document.getElementById("googleMap"), mapOptions);

    {% for parking in parkings %}    
    var data = {'pk': '{{ parking.pk }}','lat': {{parking.lat}},'long': {{parking.lng}} };
    //'pk': '{{ parking.pk }}', 'address':"{{parking.streetaddress|truncatechars:25}}", 'from':'{{ parking.fromtime }}','to':'{{ parking.totime }}',
    datas.push(data);
    {% endfor %} 

    var markers = [],pk;
    var infowindow = new google.maps.InfoWindow();
    for (var i = 0; i < datas.length; i++) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(datas[i]['lat'], datas[i]['long']),
        map: map,        
        label:datas[i]['pk']
      });      
      makeClickEvent(marker,datas[i]['pk']);     
      markers.push(marker);
    }

    // Bounds for Washington
    var strictBounds = new google.maps.LatLngBounds(
     new google.maps.LatLng('38.8', '-77.1'), //'38.906', '-77.047'
     new google.maps.LatLng('39', '-76.9')
    );

    // Listen for the dragend event
    google.maps.event.addListener(map, 'dragend', function() {
     if (strictBounds.contains(map.getCenter())) return;
     // We're out of bounds - Move the map back within the bounds
     var c = map.getCenter(),
         x = c.lng(),
         y = c.lat(),
         maxX = strictBounds.getNorthEast().lng(),
         maxY = strictBounds.getNorthEast().lat(),
         minX = strictBounds.getSouthWest().lng(),
         minY = strictBounds.getSouthWest().lat();

    console.log(x);
    console.log(y);

     if (x < minX) x = minX;
     if (x > maxX) x = maxX;
     if (y < minY) y = minY;
     if (y > maxY) y = maxY;

     map.setCenter(new google.maps.LatLng(y, x));
    });
  }

  function makeClickEvent(marker,pk){    
    google.maps.event.addListener(marker, 'click', function() {
      $("#resultSide .row").removeClass('redcolor');
      $("#resultSide .box"+pk).addClass('redcolor');
      $("#resultSide .box"+pk+' input[name=optparking]').prop("checked", true);
      getAvailability(pk);
      //$('#resultSide').scrollTop($("#box"+pk).offset().top);
    });
  }  
  google.maps.event.addDomListener(window, 'load', initialize); 

  $("#resultSide input[name=optparking]").click(function(){
    if ($(this).is(":checked")){
      $("#resultSide .row").removeClass('redcolor');
      $(this).parent().parent().addClass('redcolor');
      getAvailability($(this).data('pk'));
    }    
  });

  $('.btn-moreinfo').click(function(){
    var imgurl=$(this).data('imgurl');
    if (imgurl){
      $('#modal-moreinfo').modal('show');
      $("#loading_moreinfo").html('<div class="thumbnail"><img src="'+imgurl+'_crop.jpg" alt=""></div>');
    }
  }); 
</script>
{% endif %}
{% endblock %} 
