{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load selectize_tags %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}address/jquery-ui-1.9.2.custom.min.css">
<link href="{{STATIC_URL}}timepicker/jquery.timepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ STATIC_URL }}jcrop/jquery.Jcrop.min.css">
{% selectize_tags_media 'css' 'default' %}

{% endblock %}

{% block body %}
<script type="text/javascript">
function validateForm()
{   
  //var ftime= $("#selected_fromtime").val();
  //var ttime= $("#selected_totime").val();
  //if (ftime==null || ftime=="" || ttime==null || ttime==""){
  //  alert("Please select Parking Availablity Time.");
  //    return false;
  //}
    var x=$("#id_pic").val();
    var cord=$("#cropcoords").val();                
    if (x==null || x==""){
      //alert("Please select an image to upload.");
      // return false

      // picture field is optional
      return true;
    }else if (cord==null || cord==""){
      alert("Please select the coordinates of the Parking Phots to crop.");
      return false;
    }
}
</script>  

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
          <strong><span class="glyphicon glyphicon-th-large"></span>  List Your Parking:</strong>
      </div><!-- /.panel-heading -->
      <div class="panel-body">      
        <form id="parkdetails" method="post" action="." onsubmit="return validateForm()" enctype="multipart/form-data">{% csrf_token %}
          
          <!--
          <input type="text" name="address" class="form-control" id="id_streetaddress">
          -->
          <div class="row" id="timeOnly">
            
            <div class="col-md-3">
              From:<input type="text" class="form-control time start" id="selected_fromtime" name="fromtime" required />
            </div>
            <div class="col-md-3">
              To:<input type="text" id="selected_totime" class="form-control time end" name="totime" required />
            </div>
          </div><!-- /start Date and start Time End Time-->   
              
          {{ form|bootstrap }}
          <p>You can drag and drop the marker to the correct location for precise selection.</p>
          <div class="form-group">    
            <div style="height:300px;">
            <div id="map_canvas" style="width:100%; height:100%"></div>
            <div id="location" class=""></div>        
            </div>
            <!--Latitude:<input type="text" name="lat" class="form-control" id="id_lat">
            Longitude:<input type="text" name="lng" class="form-control" id="id_lng">
            <input type="text" id="lbl_longitude">-->           
          </div>    
          
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save" /> 
          <!--<a class="btn btn-danger" href="{% url 'home' %}">Cancel</a>      -->
        </form> 
      </div><!--/panel-body-->
    </div><!--/panel-->      
  </div> 
</div>  
{% endblock %}

{% block javascript %} 
<!-- Address Picker-->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{{STATIC_URL}}address/jquery-ui-1.9.2.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{STATIC_URL}}address/ui.addresspicker2.js" type="text/javascript" charset="utf-8"></script>
<!--/-->

<script src="{{STATIC_URL}}timepicker/jquery.timepicker.js"></script>
<script src="{{STATIC_URL}}timepicker/jquery.datepair.js"></script>
<script src="{{ STATIC_URL }}jcrop/jquery.Jcrop.min.js"></script>
{% selectize_tags_media 'js' %}
<script type="text/javascript">
$(document).ready(function() {
  
  // Address Picker
  var addresspickerMap = $("#id_streetaddress").addresspicker({
    reverseGeocode: 'true',
    autocomplete: 'default',
    componentsFilter: 'country:US',
    mapOptions: {
      zoom: 12,minZoom:11,
      center:new google.maps.LatLng('38.906', '-77.047'),
      //scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    },
    elements: {
      map: "#map_canvas",
      lat: "#id_lat",
      lng: "#id_lng" 
    }
  });
  var gmarker = addresspickerMap.addresspicker("marker");
  gmarker.setVisible(true);
  addresspickerMap.addresspicker( "updatePosition");
  
  //End of address picker

  //$('#selected_fromtime').val(sel_time);
  $('#timeOnly .start').timepicker({
    //'minTime': '06:30 AM',//sel_time,
    'step':60,
    'timeFormat': 'h:i A'//'g:ia'
  });
  $('#timeOnly .end').timepicker({
      'showDuration': true,
      'timeFormat': 'h:i A',
      'step':60,
      'maxTime': '11:30 PM'
  });
  $('#timeOnly .end').timepicker('setTime');//, sel_endtime);
  $('#timeOnly').datepair(); 

  $('#id_days').removeClass('form-control'); 
  $('#id_days').selectize(); 


  function showCoords(c){
    //var str_vals='x:'+c.x+',y:'+c.y;
    //str_vals+=',x2:'+c.x2+',y2:'+c.y2;
    //str_vals+=',w:'+c.w+',h:'+c.h;    
        var csv_vals=c.x+','+c.y+','+c.x2+','+c.y2;
        if (c.w == 0){
          //console.log('width 0');
          $("#cropcoords").val('');
        }else{
          $("#cropcoords").val(csv_vals);
        }
        console.log($("#cropcoords").val());
  };
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();            
            reader.onload = function (e) {
              var img_preview='<img id="blah" src="'+e.target.result+'" height="100" alt="Preview" />';
                //$('#blah').attr('src', e.target.result);
                $('#previewimage').html(img_preview);
                $('#blah').Jcrop({                  
                  onSelect: showCoords,
                  onChange: showCoords,
                  aspectRatio: 1
                });
            }            
            reader.readAsDataURL(input.files[0]);
        }
    }    
    $("#id_pic").change(function(){
        readURL(this);
    });    
});
</script>
{% endblock %} 